@charset "UTF-8";
body {
    background:#FDFDFD; 
}

.container-footer { 
font-family: Arial, Helvetica, sans-serif;
	
	 
}
.btn, .btn-lg {
	background-color: #000000 
	
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px 10px 20px;
    margin: 10px auto 10px auto;
    text-align: center;
    background-color: #FEDBAB ;
}

.btn-outline- {
    color:rgb(255, 255, 255);
}

.container-footer {
    border-radius: 2px;
    padding: 15px;
    margin-top: 90px;
}

.jumbotron, .jumbotron-fluid {
    background-color: rgb(0, 0, 0);
	margin-left: 50px;
	margin-right: 50px; 
	margin-bottom: 20px; 
	
}

p {
    color: rgb(133, 133, 133);
}

.logo{
    max-width: 6%;
    height: auto;
 }
.col-lg-4, .col-md-4, .col-sm-12 {
	align-content: center;
	align-items: center; 
}

.col-lg-4, .col-md-4, .col-sm-12 {
	align-content: center;
	align-items: center;  }

.jumbotron {
	background-color:#F3E7E0; 
}
.learn {
	background-color:#9A6D00;  
}

.email, .pass, .check {
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.submit {
	margin-left: 104px;
	background-color:#9A6D00;
	color:rgb(255, 255, 255); 
}

.strong {
	display: flex;
	justify-content: center; 
	font-size: 45px; 
	margin-top: -10px; 

}

.salmon {
	display: flex;
	justify-content: center; 
	margin-left: 50px;  
	margin-right: 0px;
	margin-bottom: 20px;
	
}

.img-fluid {
	box-sizing: border-box; 
}
.btn-primary, .lead {
	margin-left: 10px;
}

.contact{
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 30px;
	margin-bottom: 10px;
}

.explanation{
	display: flex;
	justify-content: center;  
	margin-bottom: 30px;
	margin-top: 30px;
	margin-left: 100px;
	margin-right: 100px;
	font-family: Arial, Helvetica, sans-serif; 
}
.mini {
}
